.background-container{
    width: 100%;
    height: 100vh;
    background-image: url('https://redstar13337.github.io/dashboard/assets/images/lol-map.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}