<div class="background-container">
    <div class="version-badge">
        v{{ appVersion }}
      </div>
    <div class="input-container">
        <input type="text" placeholder="Summoner name" [(ngModel)]="summonerName">
        <input type="text" placeholder="Tag" [(ngModel)]="tag">
        <button (click)="fetchAccount()">Fetch Account</button>

        <!-- Display the saved puuid -->
        <div style="margin-top: 20px; color: blanchedalmond;">
            <strong>PUUID:</strong> {{ puuid }}
        </div>

        <div class="content-container">
            <!-- Display the list if available -->
            <div *ngIf="matchIds.length > 0" class="matches-list">
                <strong>Match IDs:</strong>
                <ul>
                    <li
                        *ngFor="let matchId of matchIds"
                        (click)="onMatchClick(matchId)"
                        [class.selected]="matchId === selectedMatchId"
                    >
                        {{ matchId }}
                    </li>
                </ul>
            </div>

            <!-- Right Column: JSON Data Viewer -->
            <div class="json-viewer" *ngIf="getMatchDetails()">
                <strong>Match Details:</strong>
                <pre>{{ getMatchDetails() | json }}</pre>
                <button (click)="generateCSV()">Download as CSV</button>
            </div>
        </div>
    </div>
</div>

<router-outlet />
